/*desactivar objetos de bootstrap*/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 2px !important; /*menos margin en el sistema de grillas de bootstrap*/
    padding-left: 2px !important;  /*menos margin en el sistema de grillas de bootstrap*/
}

/*estilo para el mini banner*/
#mini-banner{
    background: #FFFC00;
}

#text-mini-banner{
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 0px;
    color: #0157BA;
    text-transform: uppercase;
    margin: 0px 0px 0px 337px;
}

#contenido-mini-banner{
    vertical-align: middle;
    height: 60px;
    width: 100%;
}

#boton-mini-banner{
    background-color: #FF6600;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    width: 218px;
    letter-spacing: 0;
    padding: 8px 45px;
    margin: 0px 0px 0px -480px;
    font-family: 'Muli', sans-serif;
    height: 40px;
}
/*estilo para el banner principal*/
#banner-principal{
    background-image: url(../img/hero-andres-thumbs.svg);
    min-height: 555px;
    background-repeat: no-repeat;
    background-position: 50% 121%;
    width: 100%;
    padding: 50px 0 0 0;
}
#espacio-boton-banner{
    margin: 25px 0 0px 0px !important;
}
#boton-banner{
    background-color: #FF6600;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    width: 396px;
    letter-spacing: 0;
    padding: 9px 77px;
    font-family: 'Muli', sans-serif;
    height: 71px;
}

.guia-letra-blanca{
    font-family: 'Muli', sans-serif;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}

.guia-letra-amarilla{
    font-family: 'Muli', sans-serif;
    color: #FFFC00;
}
#texto-banner-grande{
    font-size: 47px;
    font-weight: 800;
}
#texto-banner-mediano{
    font-size: 34px;
    font-weight: 800;
}
#video-hero{
    padding: 56.25% 0 0 0;
    position: relative;
    max-width: 487px;
    height: auto;
}
/*estilo para los cards*/
.imagen-cards{
    width: 100%;
    height: 90px;
}
.titulo-cards{
    font-family: 'Muli', sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 800;
    margin: 0px 0px -25px 0px;
}
.parrafo-cards{
    color: #404040;
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.enunciado-cards{
    font-weight: 800;
}

/*estilos para slides*/
#slides-post{
    background: #EAF7FF;
    height: 560px;
    padding: 50px 0 0 0;
}
/*estilos para carousel*/
.imagen-carrusel{
    max-width: 261px;
}
.texto-imagen-carrusel {
    margin: -108px 0px 0px -57px;
    
}
.text.pt-3.w-100.text-center.texto-imagen-carrusel > h3 > a {
    color:#FFFFFF !important;
    font-family: 'Muli', sans-serif;
    font-size: 28px;
}
.owl-carousel {
    position: relative; 
}
.owl-carousel .owl-item {
    opacity: 1; 
}
.owl-carousel .owl-item.active {
    opacity: 1; 
}
.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%; 
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -60px;
    color: rgba(0, 0, 0, 0.1) !important;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    opacity: 0; 
}
@media (prefers-reduced-motion: reduce) {
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; 
    } 
}
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
    font-size: 30px; 
}
.owl-carousel .owl-nav .owl-prev {
    left: 0; 
}
.owl-carousel .owl-nav .owl-next {
    right: 0; 
}
.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 20px; 
}
.owl-carousel .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    background: rgb(0 0 0 / 0%);
    position: relative;
    border-color: #576078;
    border-width: 11px;
    border: 1px solid; 
}
.owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
    outline: none !important; 
}
.owl-carousel .owl-dots .owl-dot.active {
    background: #FF7600; 
}
.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
    opacity: 1; 
}
.owl-carousel:hover .owl-nav .owl-prev {
    left: -25px; 
}
.owl-carousel:hover .owl-nav .owl-next {
    right: -25px; 
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y; 
}
/*end carousel*/
#parrafo-slides-post{
    margin: 30px 55px 0 0px;
    color:#000000;
    font-family: 'Muli', sans-serif;
    color: #000000;
    font-size: 28px;
    font-weight: 800;
}
#enunciado-slides{
    color: #0084FF !important;
}
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
/*estilos para tablet*/
@media only screen and (max-width: 992px) {
    header {
        height: 80px;
    }
    .navbar {
        position: relative;
    }
    .navbar-brand {
        position: relative;
        margin-left: 60px !important; 
        margin-top: 15px;
    }
    #text-mini-banner {
        font-size: 16px;
        margin: 0px 0 0px 5px;
    }
    #boton-mini-banner {
        font-size: 16px;
        width: 178px;
        margin: 0px 0px 0px 0px;
        padding: 9px 23px;
    }
    #banner-principal {
        min-height: 450px;
        width: 100%;
        padding: 50px 0 0 0;
    }
    .guia-letra-blanca {
        font-family: 'Muli', sans-serif;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }
    .guia-letra-blanca {
        font-family: 'Muli', sans-serif;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 0 0;
    }
    p.guia-letra-blanca:first-child {
        font-size: 22px;
    }
    p.guia-letra-amarilla {
        font-size: 26px !important;
        font-weight: 800 !important;
        margin: 0 0 0 0;
    }
    #texto-banner-grande {
        font-size: 32px !important;
        font-weight: 800 !important;
        margin: 0 0 0 0;
    }
    #video-hero{
       margin: 10px;
    }
    #boton-banner {
        background-color: #FF6600;
        border-radius: 45px;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        width: 295px;
        margin: 20px 0 0 0;
        letter-spacing: 0;
        padding: 16px 56px;
        font-family: 'Muli', sans-serif;
        height: 71px;
    }
    section#informacion {
        margin: 30px 0 0 0;
    }
    .titulo-cards {
        font-size: 26px;
        margin: 0px 10px -25px 10px;
    }
    .parrafo-cards {
        font-size: 18px;
        margin: 0px 20px 0px 20px;
    }
    h2.heading-section.mb-5.pb-md-4 {
        font-size: 21px;
        margin: 10px 20px 0 20px;
    }
    #parrafo-slides-post {
        margin: 10px 0 0 0;
        color: #000000;
        font-family: 'Muli', sans-serif;
        color: #000000;
        font-size: 28px;
        font-weight: 800;
    }
}
/*estilos para celular*/
@media only screen and (max-device-width: 600px) {
    header {
        height: 80px;
    }
    .navbar {
        position: relative;
    }
    .navbar-brand {
        position: relative;
        margin-left: 60px !important; 
        margin-top: 15px;
    }
    #text-mini-banner {
        font-size: 16px;
        margin: 0px 0 0px 5px;
    }
    #boton-mini-banner {
        font-size: 16px;
        width: 178px;
        margin: 0px 0px 0px 0px;
        padding: 9px 23px;
    }
    #banner-principal {
        background-color: #0157BA;
        min-height: 590px;
        width: 100%;
        padding: 37px 0 0 0;
    }
    .guia-letra-blanca {
        font-family: 'Muli', sans-serif;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }
    .guia-letra-blanca {
        font-family: 'Muli', sans-serif;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 0 0;
    }
    p.guia-letra-blanca:first-child {
        font-size: 22px;
    }
    p.guia-letra-amarilla {
        font-size: 26px !important;
        font-weight: 800 !important;
        margin: 0 0 0 0;
    }
    #texto-banner-grande {
        font-size: 32px !important;
        font-weight: 800 !important;
        margin: 0 0 0 0;
    }
    #video-hero{
       margin: 10px;
    }
    #boton-banner {
        background-color: #FF6600;
        border-radius: 45px;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        width: 295px;
        letter-spacing: 0;
        padding: 16px 56px;
        font-family: 'Muli', sans-serif;
        height: 71px;
    }
    section#informacion {
        margin: 30px 0 0 0;
    }
    .titulo-cards {
        font-size: 26px;
        margin: 0px 50px -25px 50px;
    }
    .parrafo-cards {
        font-size: 18px;
        margin: 0px 40px 0px 40px;
    }
    h2.heading-section.mb-5.pb-md-4 {
        font-size: 21px;
        margin: 10px 50px 0 50px;
    }
    #parrafo-slides-post {
        margin: 10px 0 0 0;
        color: #000000;
        font-family: 'Muli', sans-serif;
        color: #000000;
        font-size: 28px;
        font-weight: 800;
    }
}
